<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Select an engineer</h2>
        <% results.forEach(function(result) { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title"><%= result.name %></h5>
                    <a href="/work/select/<%= result.id %>" class="btn btn-info">Select</a>
                </div>
            </div>
        <% }) %>
    </div>    
</body>
</html>