<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= result.title %></h2>
    <h4><%= result.description %></h4>
    <form action="/work/<%= result._id %>" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>